apiexamen/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50141/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50141/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50141/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:50141/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ModelExamen" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AgregarExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarExamen" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarExamenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarExamen" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarExamenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarExamen" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarExamenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExamen" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarExamenResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AgregarExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarExamen" message="tns:IService_AgregarExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarExamenResponse" message="tns:IService_AgregarExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarExamen" message="tns:IService_ActualizarExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarExamenResponse" message="tns:IService_ActualizarExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarExamen" message="tns:IService_EliminarExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarExamenResponse" message="tns:IService_EliminarExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultarExamen" message="tns:IService_ConsultarExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultarExamenResponse" message="tns:IService_ConsultarExamen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarExamen">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarExamen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarExamen">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarExamen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarExamen">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarExamen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarExamen">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultarExamen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50141/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>